/*header styles*/
body {
	background-image: url("background.jpg");
	font-family: Georgia, serif;
}

.stripe_top {
	width: 100%;
}

.container {
	max-width: 1020px;
	background-color: white;
	padding: 0 4em;
	border-left: 0.1em solid #E3DEDE;
	border-right: 0.1em solid #E3DEDE;
}

#main_container {
	border-bottom: 10px solid transparent;
	border-image: url(color_stripe.jpg) 400 stretch;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.allura {
	font-family: 'Allura', cursive;
}
.handwriting {
	font-family: 'Alex Brush', cursive;
}
.slogan {
	font-size: 23px;
	text-align: center;
}

.text-align {
	text-align: center;
}

a {
	color: black;
}

a:hover {
	text-decoration: none;
}
h1, h3, h4 {
	color: #7790AF;
	font-family: 'Lora', serif;
}

h3 {
	font-size: 2em;
	margin-top: 0;
}

.search-bar {
	float: right;
	position: relative;
	top: 1em;
}

.default_button {
	font-weight: bold;
	margin: 0.2em auto;
	outline: 0.1em solid #E3DEDE;
	outline-offset: 0.2em;
	background: -webkit-linear-gradient(bottom, rgba(250,232,232,0), rgba(250,232,232,1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom, rgba(250,232,232,0), rgba(250,232,232,1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom, rgba(250,232,232,0), rgba(250,232,232,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, rgba(250,232,232,0), rgba(250,232,232,1));
}

.button_chat {
	position: absolute;
	top: -6px;
	left: 190px;
}

.input-group {
	outline: 0.1em solid #E3DEDE;
	outline-offset: 0.2em;
}

.input-group input { 
	text-indent: 32px;
}
/*placeholders styles*/
.form-control::-webkit-input-placeholder {
    color: black;	
	position: relative;
	right: 3em;
}

.input-group .fa-search { 
  position: absolute;
  top: 5px;
  left: 150px;
  font-size:20px;
  font-weight: 300;
  color: gray ;
}

li {
    display: inline;
}

.checkout-information li {
	padding:1em;
	color: black;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
	background-color: #F0F0F0;
	border: none;
}


.checkout-information li:not(:last-of-type) {
	border-right: 0.1em solid #E3DEDE;
}

#name {
	border-bottom: 0.3em dotted pink;
	color:black;
}

#header-top, #header-middle, .products, .about_us {
	padding: 0.5em;
	border-bottom: 0.1em solid #E3DEDE;
}

#main-navigation ul li:hover {
	background-color: #F0F0F0;
	
}
.nav>li>a {
	padding: 1em 0.8em;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
}

.navbar .navbar-collapse {
	text-align: center;
}
.navbar-default {
	border: 0px solid transparent;
	background-color: transparent; 
}

img.banner {
	width: 100%;
	height: auto;
}

.sale {
	background-color: white;
	position: absolute;
	z-index: 2;
	top: 0;
	right: 10%;
	height: 100%;
	width: 30%;
	background: -webkit-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, rgba(255,255,255,0.5), rgba(255,255,255,1)); /* Standard syntax (must be last) */
	
}

.sale_text_header {
	font-size: 4em;
	text-shadow: 1px 1px white;
	    line-height: 1;
}

.sale_text {
	font-size: 2em;
	color: black;
}

.products {
	margin-top: 1em;
}

.product_img {
	border: 0.1em solid #E3DEDE;
	padding: 1em;
	width: auto;
}
.featured_products {
	padding: 0.1em 1em;
}

.featured_text {
	font-size: 1.6em;
}
.about_us {
	padding: 1em;
}

.form-control {
	background: -webkit-linear-gradient(bottom, rgba(216,216,216,1), rgba(255,255,255,1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom,rgba(216,216,216,1), rgba(255,255,255,1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom, rgba(216,216,216,1), rgba(255,255,255,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, rgba(216,216,216,1), rgba(255,255,255,1)); /* Standard syntax (must be last) */
}
.more_about_us {
	text-decoration: underline;
}
/*footer*/
.col_footer {
	float: left;
	padding: 0 0.2em;
}
.fa-facebook-official {
	color: #3B5998;
	background: white;
}

.fa-twitter-square {
	color: #55ACEE;
	background: white;
}
.fa-pinterest-square, .fa-google-plus-square, .fa-youtube{
	color: #cb2027;
	background: white;
}

.fa {
	font-size:30px;
	padding: 0.1em;
}

.small-logo {
	 position: relative;
	 top: -1em;
}

#after_footer {
	border: none;
	background: transparent;
}

/*media queries*/
@media only screen and (max-width: 768px) {
	.container {
		width: 100%;
	}
   #name {
	   font-size: 2em;
	   text-align:center;
   }
   
   #social_media {
	   width :100%;
	   float: none;
   }
   
   .mobile_menu_footer_plus {
	   right: -90%;
	   top: -30px;
   }
   
   .container {
	   padding: 1em;
   }
   
   .sale {
	   position: static;
	   width: 100%;
	   max-height: 35em;
   }
   
   .small-logo {
	   margin: 0 auto;
	   float: none;
	   width: 100%;
	   position: relative;
	   top: -1em;
	    
   }
   
   .copyright {
	   text-align:center;
	   position: relative;
	   top: 8em;;
   }
   
   .ae_logo {
	display :block;
	 margin: 0 auto;
	 position: relative;
	 top: 3em;
   }
   
   .navbar-toggle {
		position: fixed;
		right: 0px;
		top: 0px;
   }
}

@media only screen and (max-width: 992px) {
	.sale_text_header {
	font-size: 2.5em;
	text-shadow: 1px 1px white;
	}
	.sale_text {
	font-size: 1.3em;
	color: black;
	}
	.mobile_menu_footer_plus {
	   right: -90%;
	   top: -30px;
   }
   .product_img {
	   margin: 0 auto;
   }
   .copyright {
	   text-align:center;
	   position: relative;
	   top: 8em;;
   }
}